

    <div class="container search-result"> 
        <% if(noMatch !== null) { %>
            <h3><%= noMatch %></h3>
        <% } else { %>
            <% ink.forEach(function(ink) { %>
                <form class="form" value="<%= ink.location %>" data-id="<%= ink._id %>" action="/<%= ink._id %>?_method=PUT" method="POST" > 
                    <div class="bucket-name"><%= ink.ink %></div>

                    <div class="location-selector">
                        <div id="ntmd-button">
                            <input type="radio" id="select-ntmd" class="update-form select-radio" name="ink[location]" value="NTMD" <%= ink.location == 'NTMD' ? 'checked' : ''%> />
                            <label for="select-ntmd"><%= locationArray[0] %></label>
                        </div>
                        
                        <div id="shlf-button">
                            <input type="radio" id="select-shlf" class="update-form select-radio" name="ink[location]" value="SHLF" <%= ink.location == 'SHLF' ? 'checked' : ''%> />
                            <label for="select-shlf"><%= locationArray[1] %></label>
                        </div>
                        
                        <div id="c218-button">
                            <input type="checkbox" id="select-c218" class="update-form select-checkbox" name="ink[location]" value="C218" <%= ink.location.includes('C218') ? 'checked' : ''%> />
                            <label for="select-c218"><%= locationArray[2] %></label>
                        </div>
                    
                        <div id="c312-button">  
                            <input type="checkbox" id="select-c312" class="update-form select-checkbox" name="ink[location]" value="C312" <%= ink.location.includes('C312') ? 'checked' : ''%> />
                            <label for="select-c312"><%= locationArray[3] %></label>
                        </div>

                        <div id="c318-button">  
                            <input type="checkbox" id="select-c318" class="update-form select-checkbox" name="ink[location]" value="C318" <%= ink.location.includes('C318') ? 'checked' : ''%> />
                            <label for="select-c318"><%= locationArray[4] %></label>
                        </div>

                        <div id="ga18-button">
                            <input type="checkbox" id="select-ga18" class="update-form select-checkbox" name="ink[location]" value="GA18" <%= ink.location.includes('GA18') ? 'checked' : ''%> />
                            <label for="select-ga18"><%= locationArray[5] %></label>
                        </div>

                        <div id="manl-button">
                            <input type="checkbox" id="select-manl" class="update-form select-checkbox" name="ink[location]" value="MANL" <%= ink.location.includes('MANL') ? 'checked' : ''%> />
                            <label for="select-manl"><%= locationArray[6] %></label>
                        </div>
    

                        <div id="smpl-button">
                            <input type="checkbox" id="select-smpl" class="update-form select-checkbox" name="ink[location]" value="SMPL" <%= ink.location.includes('SMPL') ? 'checked' : ''%> />
                            <label for="select-smpl"><%= locationArray[7] %></label>
                        </div>

                        <div id="sp10-button">
                            <input type="checkbox" id="select-sp10" class="update-form select-checkbox" name="ink[location]" value="SP10" <%= ink.location.includes('SP10') ? 'checked' : ''%> />
                            <label for="select-sp10"><%= locationArray[8] %></label>
                        </div>
                          
                        <div id="sp14-button">    
                            <input type="checkbox" id="select-sp14" class="update-form select-checkbox" name="ink[location]" value="SP14" <%= ink.location.includes('SP14') ? 'checked' : ''%> />
                            <label for="select-sp14"><%= locationArray[9] %></label>
                        </div>

                        <!-- <button class="submit-location" type="submit">Submit</button> -->
                        <!-- <a class="btn btn-danger btn-sm" href="delete/<%= ink.id %>" role="button" >delete</a> -->
                    </div>
                </form>
            <% }) %>
        <% }; %>
    </div>  	
 
<script src="main.js"></script>  



